.profileBody{
    min-height: 100vh;
    background: linear-gradient(360deg, #0D0B0B 0%, #FFF 0.01%, #767C7D 55.43%, #2E2F2E 85.41%);
        background-image: url('../../../public/contentImages/profileback.jpg');
background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.profile_subBody{
    background-color: #c7bfbfad;
    
    background-size: cover;
    width: 40%;
    height: 30rem;
    border-radius: 7px;
     border: 2px solid rgb(11, 10, 10); /* Add a 2px solid red border */
  margin: 20px; /* Add margin to create space around the div */
  padding: 20px; 
  
   
}
.profile_innerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile_img{
    width:19%;
    padding-top: 27px;
    border-radius: 15px;
    filter: invert(78%) sepia(0%) saturate(5996%) hue-rotate(245deg) brightness(109%) contrast(79%);
    
}
.profile_againInnerDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.h4{
    margin-bottom: -1rem;
}

.imageInput{
   margin-top: 8rem;
   background-color: #3c3636;
   height: 2rem;
   border-radius: 4px;
   color: wheat;
}

.upload{
    background-color: #767C7D;
    color:white;
    width: 4rem;
    height: 2rem;
    border-radius: 4px;
     
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px rgb(20, 20, 20);
  transition: background-color 0.3s ease;

}

.upload:active {
  background-color: #4d7aab; 
}

.addImg{
    width: 2rem;


}

.imageContainer {
  position: relative; 

  display: inline-block; 

}


.overlayText {
  position: absolute; 
 top: -70%;  
  left: 50%;  

  transform: translate(-50%, -50%); 
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0); 
  padding: 5px 10px; 
  border-radius: 4px;
  
  font-size: 10px; 
  display: none; 
}

.imageContainer:hover .overlayText {
  display: block;
  cursor: pointer;
}



/* YourStyles.module.css */

.container {
  display: inline-block; /* Make sure the elements are inline-block to respect the adjacent sibling selector */
  position: relative; /* Position relative so child elements can be positioned relative to this container */
}

.faeye {
  margin-left: 20px;
  width: 25px;
}

.viewImage {
  display: none;
  position: absolute;
  color:white;
  top: 100%; 
  left: 50%;
  font-size: small;
  transform: translateX(-50%);
}

.faeye:hover + .viewImage {
  display: block;
}

