.container{
     height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  background: linear-gradient(90deg, #0D0B0B 0%, #FFF 0.01%, #767D77 62.23%, #5F6460 85.41%);
}

.label {
  align-self: flex-start; 
}
.formBody{

   
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.inputButtonContainer{
    
   display: flex;
   flex-direction: column;
   align-items: center;
 
  justify-content: center; 
  gap: 1rem; 
}

.input{
     width: 25rem;
   padding: 0.5rem;
}





.button{  
    height: 52px;
    margin-top: 10px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: rgb(36, 33, 33);
     transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
  background-color: rgb(60, 55, 55); /* Change the background color on hover */
}

.button:active {
  background-color: rgb(20, 18, 18); /* Change the background color on click */
  transform: scale(0.95); /* Add a slight scale effect on click */
}



.divider {
  margin: 1rem 0;
  text-align: center;
  color: rgb(36, 33, 33);
  font-weight: bold;
}

@media  (max-width: 669px){
.input{
     width: 15rem;
   padding: 0.5rem;
}

.button{  
    
     margin-top: 5px;
    width: 70px;
}
}

@media  (max-width: 461px){
.input{
     width: 10rem;
   padding: 0.5rem;
}

.button{  
    
     margin-top: 5px;
    width: 70px;
}
}